---
import { Image } from "astro:assets";
import blackOps from "../assets/about/blackops.jpg";
import thumbsUp from "../assets/about/thumbs-up.jpg";
import strong from "../assets/about/when-I-was-strong.jpg";
import skyTower from "../assets/about/sky-tower.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "**ABOUT**";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>**WHO AM I?**</h2>
  <div class="image-wrapper">
    <Image src={blackOps} alt="test" />
    <Image src={thumbsUp} alt="test" />
    <Image src={strong} alt="test" />
    <Image src={skyTower} alt="test" />
  </div>
  <p>
    I'm Jakob, a guy born in Wellington NZ that has been a geek for 24 years and
    counting.
  </p>

  <p>
    I was a loud and cheeky kid that always had to be kept occupied because
    otherwise I was up in your face telling you 'I'M BORED' or somewhere around
    the house trying to stick my finger into an electrical socket (my parents
    have this on tape). This was fixed by my geeky dad who chucked me on a
    computer. This meant that I was always within his sight while he played his
    own games and I was now quiet becuase I was mesmerised by the colours on the
    Far Cry 1 demo that I played probably 100+ times.
  </p>

  <p>
    My family left NZ to live in Riyadh, Saudi Arabia when I was 5 years old
    becuase of my dad's job. My brother and I went to an international school
    while we lived there which was a genuinely fantastic experience. Our
    teachers, friends, and neighbours were from all over the world and I really
    thought it was normal that going to a friends house meant it's time to learn
    all about another entirely different culture.
  </p>

  <p>
    In-between playing football, riding our bikes and skating with my friends on
    the compound in Saudi Arabia, I put a <strong>*lot*</strong> of hours into video
    games like Team Fortress 2, Counter-Strike: Source, World of Warcraft, League
    of Legends, COD and Minecraft. I started to get really interested in the video-game
    environments and wanted to know how they were created, which was my first introduction
    to 'going behind the scenes of applications'.
  </p>

  <p>
    I attempted to learn the 'Microsoft Small Basic' language, was watching
    YouTube tutorials on how to make maps for CS:S and then use PhotoShop. The
    idea was that I was going to code my own game, make the maps, and then
    create the artwork needed for the Steam page. At the age of 11, I then
    released 3 different maps for CS:S, 2 of which actually got put into the map
    rotation by the gaming organisation I was with at the time (<a
      href="https://gamebanana.com/mods/114146"
      target="_blank">fy_scoutania</a
    > and <a href="https://gamebanana.com/mods/108925" target="_blank"
      >aim_texturecity_v1</a
    >). Unfortunately, I didn't quite grasp the concept of spawn points or buy
    zones which caused the maps to simply not work once there were more than ~5
    players, so they didn't stay for very long. I ended up getting really bored
    of programming and dropped it completely while PhotoShop became my new toy.
    Why was it so hard to simply <strong>
      <code is:raw>public Game CreateEntireGame() {}</code>?
    </strong>
  </p>

  <p>
    We came back to NZ when I was 13 and my passion for playing and learning
    about video-games never stopped. I ended up meeting my bestfriend, Stefan,
    who at some point who introduced me to his own friend group, another bunch
    of geeks with like-minded interests. To this day, we're all still mates an
  </p>
</BaseLayout>

<style>
  body {
    max-width: 80%;
  }
  .image-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .image-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 8px;
    }
  }

  code {
    padding: 5px;
    background-color: antiquewhite;
    color: black;
  }
</style>
