---
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../data/projects.json";
import Card from "../components/Card.astro";
const pageTitle = "Me";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hello, I'm Jakob Frederikson, a Software Engineering graduate working in
    Customer Service for the time being.
  </p>
  <h2>My selected projects</h2>
  <hr />
  {
    Projects.map((project) => (
      <Card
        name={project.name}
        description={project.description}
        imagePath={project.image}
        altText={project.altText}
        url={project.link}
      />
    ))
  }
</BaseLayout>
