---
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../data/projects.json";
import Project from "../components/Project.astro";
const pageTitle = "Me";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My home page</h2>
  {
    Projects.map((project) => (
      <Project
        name={project.name}
        description={project.description}
        imagePath={project.image}
        imageAltText={project.altText}
        url={project.link}
      />
    ))
  }
</BaseLayout>
