---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { name, description, imagePath, altText, url } = Astro.props;

// Dynamically load images
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div class="card-container">
  <a href=`${url}` target="_blank" class="card">
    <div class="card-icon">
      <Image src={images[imagePath]()} alt={altText} />
    </div>
    <div class="card-content">
      <h2 class="card-title">{name}</h2>
      <p class="card-description">{description}</p>
    </div>
  </a>
</div>

<style>
  .card-container {
    width: 100%;
    padding: 20px;
  }

  .card {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #0c0f19;
    overflow: hidden;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    padding: 15px;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 15px;
    color: rgb(255, 255, 255);
  }

  .card:hover {
    border: 1px solid rgb(206, 206, 206);
  }

  .card-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .card-content {
    margin-left: 15px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-description {
    font-size: 0.9rem;
    color: #b4b4b4;
  }

  @media (max-width: 768px) {
    .card-container {
      max-width: 100%;
    }

    .card-title {
      font-size: 1rem;
    }

    .card-description {
      font-size: 0.8rem;
    }
  }
</style>
