---
const { name, description, imagePath, imageAltText, url } = Astro.props;
---

<a href=`${url}` class="project-card" target="_blank">
  <img src={imagePath} alt={imageAltText} />
  <div class="project-content">
    <h2>{name}</h2>
    <p>{description}</p>
  </div>
</a>
